<h1>Listing project_revenue_events</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project_revenue_events.each do |project_revenue_event| %>
  <tr>
    <td><%= link_to 'Show', project_revenue_event %></td>
    <td><%= link_to 'Edit', edit_project_revenue_event_path(project_revenue_event) %></td>
    <td><%= link_to 'Destroy', project_revenue_event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project revenue event', new_project_revenue_event_path %>
